<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <a class="logo" href="/"><img src="/logo.png" alt=""></a>
        <ul>
            <li><a href="/">ALL ARTICLES</a></li>
            <li><a href="/newArticle">WRITE ARTICLE</a></li>
            <li><a href="/uploadFile">UPLOAD ARTICLE</a></li>
        </ul>
    </nav>