<%-include('./partials/headNav')%>

<section id="new-article">
    <h2>ADD NEW ARTICLE</h2>
    <form action="/newData" method="POST">
        <input type="text" name="title" id="" placeholder="Title">
        <input type="text" name="url" id="" placeholder="Url picture">
        <input type="text" name="author" id="" placeholder="Author">
        <input type="text" name="authorPicture" id="" placeholder="Author Picture">
        <textarea name="body" id="" cols="30" rows="10" placeholder="Write your article here"></textarea>
        <input class="btn" type="submit" value="Send article">
    </form>
</section>

<%-include('./partials/readNext')%>

<%-include('./partials/footer')%>
</body>

</html>